.about__row {
	
	&:nth-child(even) {
		.about__wrapper {
			margin-left: 0;

			@media (min-width: 768px) {
				margin-left: 33px;
			}

			@media (min-width: 992px) {
				margin-left: 12px;
			}

			@media (min-width: 1200px) {
				margin-left: 85px;
			}
		}

		.about__info {
			order: 1;
			margin-right: 20px;
			margin-left: 20px;

			@media (min-width: 768px) {
				order: 0;
				margin-right: 32px;
				margin-left: 0;

			  text-align: right;
			}

			@media (min-width: 992px) {
				margin-right: 28px;
			}

			@media (min-width: 1200px) {
				margin-right: 35px;
			}
		}
	}

	&:nth-child(odd) {
		.about__wrapper {
			margin-right: 0;

			@media (min-width: 768px) {
				justify-content: flex-end;
				margin-right: 33px;
			}

			@media (min-width: 992px) {
				margin-right: 12px;
			}

			@media (min-width: 1200px) {
				margin-right: 85px;
			}
		}

		.about__info {
			order: 1;
			margin-left: 20px;

			@media (min-width: 768px) {
				margin-left: 32px;
			}

			@media (min-width: 992px) {
				margin-left: 28px;
			}

			@media (min-width: 1200px) {
				margin-left: 35px;
			}
		}
	}
}

.about {
	&__wrapper {
		display: flex;
		margin-bottom: 50px;

		@media (min-width: 768px) {
			margin-bottom: 120px;
		}
	}

	&__wrapper--end {
		margin-bottom: 0;
	}

	&__info {
		width: 350px;
		max-width: 350px;

		@media (min-width: 768px) {
			width: 230px;
			max-width: 230px;
		}

		@media (min-width: 992px) {
			width: 350px;
			max-width: 350px;
		}
	}

	&__description {
		margin: 0;

		line-height: 28px;
		color: $muted;
	}

	&__heading {
		font-size: 24px;
		font-weight: 700;
	}

	img {
		display: block;
		width: 80px;
		height: 80px;

		border: 7px solid darken($light, 5%);
		border-radius: 100px;

		@media (min-width: 768px) {
			width: 100px;
			height: 100px;
		}

		@media (min-width: 992px) {
			width: 150px;
			height: 150px;
		}

		@media (min-width: 1200px) {
			width: 170px;
			height: 170px;
		}
	}

	&__end {
		display: flex;
		align-items: center;
		width: 80px;
		height: 80px;

		text-align: center;

		background-color: $primary;
		border: 7px solid darken($light, 5%);
		border-radius: 100px;

		@media (min-width: 768px) {
			width: 100px;
			height: 100px;
		}

		@media (min-width: 992px) {
			width: 150px;
			height: 150px;
		}

		@media (min-width: 1200px) {
			width: 170px;
			height: 170px;
		}
	}

	&__end-text {
		min-width: 40px;
		margin: 0 13px;

		@include heading-font;

		font-size: 10px;
		line-height: 14px;
		font-weight: 700;
		color: $white;

		@media (min-width: 768px) {
			margin: 0 15px;

			font-size: 13px;
		  line-height: 18px;
		}

		@media (min-width: 992px) {
			margin: 0 30px;

			font-size: 18px;
		  line-height: 26px;
		}
	}

	&__image {
		position: relative;

		&::before {
			content: '';

			position: absolute;
			z-index: -1;
			left: 0;
			right: 0;

			display: block;
			width: 2px;
			height: calc(100% + 50px);
		  margin: 0 auto;

			background-color: darken($light, 5%);

			@media (min-width: 768px) {
				height: calc(100% + 120px);
			}
		}
	}
}

