@font-face {
	font-family: 'Montserrat';
	font-weight: 400;
	font-style: normal;
	src: url('../fonts/montserrat-regular.woff2') format('woff2'),
			 url('../fonts/montserrat-regular.woff') format('woff');
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 700;
	font-style: normal;
	src: url('../fonts/montserrat-bold.woff2') format('woff2'),
			 url('../fonts/montserrat-bold.woff') format('woff');
}

@font-face {
	font-family: 'Kaushan Script';
	font-weight: 400;
	font-style: normal;
	src: url('../fonts/kaushanscript-regular.woff2') format('woff2'),
			 url('../fonts/kaushanscript-regular.woff') format('woff');
}

@font-face {
	font-family: 'Droid Serif';
	font-weight: 400;
	font-style: normal;
	src: url('../fonts/droidserif-regular.woff2') format('woff2'),
			 url('../fonts/droidserif-regular.woff') format('woff');
}

@font-face {
	font-family: 'Droid Serif';
	font-weight: 400;
	font-style: italic;
	src: url('../fonts/droidserif-italic.woff2') format('woff2'),
			 url('../fonts/droidserif-italic.woff') format('woff');
}

@font-face {
	font-family: 'Droid Serif';
	font-weight: 700;
	font-style: normal;
	src: url('../fonts/droidserif-bold.woff2') format('woff2'),
			 url('../fonts/droidserif-bold.woff') format('woff');
}

@font-face {
	font-family: 'Droid Serif';
	font-weight: 700;
	font-style: italic;
	src: url('../fonts/droidserif-bolditalic.woff2') format('woff2'),
			 url('../fonts/droidserif-bolditalic.woff') format('woff');
}

@font-face {
	font-family: 'Roboto Slab';
	font-weight: 100;
	font-style: normal;
	src: url('../fonts/robotoslab-thin.woff2') format('woff2'),
			 url('../fonts/robotoslab-thin.woff') format('woff');
}

@font-face {
	font-family: 'Roboto Slab';
	font-weight: 300;
	font-style: normal;
	src: url('../fonts/robotoslab-light.woff2') format('woff2'),
			 url('../fonts/robotoslab-light.woff') format('woff');
}

@font-face {
	font-family: 'Roboto Slab';
	font-weight: 400;
	font-style: normal;
	src: url('../fonts/robotoslab-regular.woff2') format('woff2'),
			 url('../fonts/robotoslab-regular.woff') format('woff');
}

@font-face {
	font-family: 'Roboto Slab';
	font-weight: 700;
	font-style: normal;
	src: url('../fonts/robotoslab-bold.woff2') format('woff2'),
			 url('../fonts/robotoslab-bold.woff') format('woff');
}






