.footer {
	padding: 25px 0;

	&__copyright,
	&__rules {
		@include heading-font;
		font-size: 14.4px;
		line-height: 40px;
	}

	&__link {
		color: $primary;

		&:first-child {
			margin-right: 8px;
		}

		&:hover,
		&:focus {
			color: $primary;
		}

		&:hover {
			text-decoration: underline;
		}
	}
}